<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just that simple - Modern Landing Page</title>
    <link rel="stylesheet" href="../src/css/page-3.css">
</head>

<body>
    <main>

        <header class="container_head">
            <div class="container-titulo">
                <h1>Just that simple</h1>
            </div>
            <div class="container_suptitulo">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
                <a href="#" class="btn-primary">Get started</a>
            </div>
            
        </header>
        <footer class="container_footer">
            <div class="image-container">
                <img src="../src/storage/img/pagina.2/imagen1.png" alt="Modern architectural structure">
            </div>
        </footer>
    </main>
</body>

</html>