<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 4</title>
    <link rel="stylesheet" href="../src/css/Page4.css">
</head>
<body>
    <div class="contenido_todo">
        <div class="imagen_sala">
            <img src="../src/stora/img/Image-1.png" alt="Image-1">
        </div>
        <div class="contenido-texto">
            <h1>Exploration and inspiration</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <button class="boton"><a class="boton_a" href="#">Explore</a></button>
            <div class="info">
                <h2>01</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <h2>02</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            </div>
        </div>
    </div>
</body>
</html>





