<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page-6</title>
    <link rel="stylesheet" href="../src/css/page-6.css">
</head>
<body>
    <header>
        <div class="circle">
            <img src="../src/storage/img/pagina.6/Group.png" alt="Reloj" class="clock">
            <svg class="text" viewBox="0 0 300 300">
                <path id="curve" d="M 150,150 m -80,0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0"/>
                <text>
                    <textPath href="#curve">
                        • Loremipsum dolor sit amet, cons •
                    </textPath>
                </text>
            </svg>
        </div>
    </header>
    <main>
        <article class="article__content">
            <h1>THE eWatch with the newest microchip technology</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <section class="section__content-buttons">
                <div class="div__button-1">
                    <button><a class="primera-a" href="#">Order now</a></button>
                </div>
                <div class="div__button-2">
                    <button><a class="segunda-a" href="#">Explore more</a></button>
                </div>
            </section>
        </article>
        <article class="article__list">
            <div class="div__list-frame">
                <div class="div__list-frame-pic">
                    <img src="../src/storage/img/pagina.6/vector-sol.png">
                </div>
                <h3>Lorem ipsu dolor amet</h3>
            </div>
            <div class="div__list-frame">
                <div class="div__list-frame-pic">
                    <img src="../src/storage/img/pagina.6/vector-estrella.png">
                </div>
                <h3>Lorem ipsu dolor amet</h3>
            </div>
            <div class="div__list-frame">
                <div class="div__list-frame-pic">
                    <img src="../src/storage/img/pagina.6/vector-ojo.png">
                </div>
                <h3>Lorem ipsu dolor amet</h3>
            </div>
            <div class="div__list-frame">
                <div class="div__list-frame-pic">
                    <img src="../src/storage/img/pagina.6/vector-mundo.png">
                </div>
                <h3>Lorem ipsu dolor amet</h3>
            </div>
        </article>
        <section class="section__column-2">
            <article class="article__image-group">
                <div class="div__star-1">
                    <img src="../src/storage/img/pagina.6/Star.png">                
                </div>
                <div class="div__star-2">
                    <img src="../src/storage/img/pagina.6/estrella-basia.png">
                </div>
                <div class="div__star-3">
                    <img src="../src/storage/img/pagina.6/estrella-basia2 copy.png" >
                </div>
                <div class="div__tag-1">
                    <h3>Award winning product</h3>
                </div>
                <div class="div__tag-2">
                    <h3>Ergonomic design</h3>
                </div>
                <div class="div__stroke-1">
                </div>
                <div class="div__stroke-2">
                </div>
                <div class="div__unsplash">
                    <img src="../src/storage/img/pagina.6/unsplash_QRWAdBCqysc (1).png">
                </div>
            </article>
        </section>
    </main>
</body>
</html>