@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2F2F2F;
}

.section__text {
    width: 449px;
    height: 582px;
    position: absolute;
    top: 169px;
    left: 132px;
    gap: 24px;
}
