:root {
    --color-1:#333333;
    --color-2:#FFFFFF;
    --color-3:#252525;
    --color-4:#BEA7A7;
    --color-5:#FFFF67;  
    --color-6:#363830;
    --color-7:#111111;
    --color-8:#D9D9D9;
    --color-9:#FFDE81;        
    --color-10:Linear;
    --color-11:#FF6E3D;
    --color-12:#050505;
    --color-13:#685FD4;
    --color-14:#E3B635;                                                   
    --color-15:#000000;
    --color-16:#020202;
    --color-17:#080808;
    --color-18:#232323;
    --color-19:#2F2F2F;                                                   
    --color-20:#6BDFDA;
    --color-21:#9AD7F3;
    --color-22:#9C2004, #AB2706 ;
    --color-23:#C8CCCF, #97A3A3;
    --color-24:#E5B94B;                                                   
    --color-26:#FEC3C7;
    --color-27:#D83517;
    --color-28:#0D261B;
    --color-29:#352F31;                                                   
    --color-30:#4F4F4F;
    --color-31:#363031;
    --color-32:#909090;
    --color-33:#2C1001;
    --color-34:#253538;                                                   
    --color-35:#2A211C;
    --color-36:#3D45FF;
    --color-37:#3FFFFF;
    --color-38:#52DC4B;
    --color-39:#EE5E5A;                                                   
    --color-40:#F2F2F2;
    --color-41:#09212C, #043E49;
    --color-42:#363032;
    --color-43:#457D61;
    --color-44:#49342F;
    --color-45:#63E1E1;
    --color-46:#A36A4F;
    --color-47:#B3CFDD;
    --color-48:#DBAF64;
    --color-49:#ECDAC4; 
    --color-50:#F0C3D2;
    --color-51:#FFDD81;
    --color-52:#242424;
    --color-53:#271908;
    --color-54:#62DBE2;
    --color-55:#6FCF97;
    --color-56:#CD292A;
    --color-57:#D4A476;
    --color-58:#F8B3B8;
    --color-59:#010625;
    --color-61:#01062D;
    --color-60: #080C15;
    --color-61: #0D0F1B;
    --color-62: #100E19;
    --color-63: #122A29;
    --color-64: #252525;
    --color-65: #3088FF;
    --color-66: #519BFD;
    --color-67: #7EB5E1;
    --color-68: #9B51E0;
    --color-69: #B79238;
    --color-70: #E3C3B6;
    --color-71: #E8D9D6;
    --color-72: #EFC356;
    --color-73: #EFEEEE;
    --color-74: #F2C94C;
    --color-75: #FBF4DF;
    --color-76: #100201;
    --color-77: #181818;
    --color-78: #222327;
    --color-79: #06040A;
    --color-80: #000103;
    --color-81: #12141B;
    --color-82: #E9E9E9;
    --color-89: #F8F8F8;
    --color-90: #16151B;
    --color-91: #0C0C0C;
    --color-92: #F4F4F4;
    --color-93: #FCB782;
    --color-94: #FAEFE3;
    --color-95: #E2E7F1;
    --color-96: #ACACDA;
    --color-97: #C6D9E1;
    --color-98: #D2EAF4;
    --color-99: #EECFCD;
    --color-100: #EFAF64;
    --color-101: #EFC48F;
    --color-102: #EFE5E2;
}       
@font-face {
    font-family: "Avenir-Medium";
    src: url("../src/storage/font/Avenir-Medium.ttf");
}

@font-face {
    font-family: "Avenir-Heavy";
    src: url("../storage/font/Avenir/Avenir-Heavy.ttf");
}

@font-face {
    font-family: "Avenir-Roman";
    src: url("../src/storage/font/Avenir-Roman.ttf");
}